@import "fontConfig";
@import "variables";
@import "config";

//GLOBAL CLASSES
* {
  font-family: "Vazir", sans-serif;
  text-align: right;
  scroll-behavior: smooth !important;
}

.rtl {
  direction: rtl;
}

body {
  overflow-x: hidden !important;
}

/////////////////////////
//navbar
/////////////////////////
.navbar {
  top: 0;
  left: 0;
  z-index: 2;
}

.form-navbar-search {
  border-bottom: 2px solid black !important;
}
.input-navbar-search {
  outline: 0 !important;
  border: none !important;
  background: transparent;
  color: black;
  direction: ltr;

  &:focus {
    color: black;
  }
  &::placeholder {
    color: black;
  }
}

.btn-navbar-search {
  outline: 0 !important;
  border: none !important;
  i {
    color: black;
  }
}

.navbar-brand {
  font-size: 1.5rem;
  color: black;
  border-bottom: 1px solid black;
  &:hover {
    color: black;
  }
}

.nav-item {
}

.nav-link {
  color: black;
}

.nav-link-login {
  &:hover {
    color: rgb(140, 228, 166);
  }
}

.nav-link-heart {
  &:hover {
    color: rgb(246, 55, 55);
  }
}

.nav-link-save {
  &:hover {
    color: rgb(90, 174, 195);
  }
}

.nav-link-shoppingcart {
  &:hover {
    color: rgb(255, 214, 79);
  }
}

.span-shoppingcart-number {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 10px;
  background: rgb(14, 117, 250);
  border-radius: 50%;
  width: 15px;
  height: 15px;
  display: flex;
  color: black;
  justify-content: center;
  align-items: center;
}
/////////////////////////
//hero
/////////////////////////
.hero {
}

.swiper-pagination-bullets {
  position: absolute;
  bottom: 15%;
  right: 6%;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-pagination-bullet {
  width: 10px !important;
  height: 10px !important ;
  z-index: 10;
  border-radius: 50%;
  background: transparent;
  border: 1.5px solid white;
  margin: 0 2.3px;
  cursor: pointer;
}
.swiper-pagination-bullet-active {
  background: white;
}

.swiper-button-next,
.swiper-button-prev {
  border: none;
  outline: none;
  position: absolute;
  bottom: 6%;
  right: 6%;
  z-index: 2;
  background: transparent;
  cursor: pointer;

  i {
    color: white;
  }
}

.swiper-button-prev {
  right: calc(6% + 55px);
}

///////////////
//Mega menu
///////////////
.mega-menu {
}

.mega-menu-link {
  font-size: 0.78rem;
  color: black;
  text-decoration: none;
  transition: all 325ms;
  font-weight: 500;
  &:hover {
    color: rgb(109, 183, 233);
    text-decoration: none;
    font-weight: 600;
  }
}

.mega-menu-section {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 85vh;
  background: white;
}

.mega-menu-title {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 35px;
  color: #000;
  margin-bottom: 30px;
}

.mega-menu-banner-link {
  font-size: 1rem;
  font-weight: 400;
  line-height: 25px;
  color: rgba(0, 0, 0, 0.657);
  margin-bottom: 30px;
  &:hover {
    color: black;
    text-decoration: none;
  }
}

.mega-menu-section-tabs {
  list-style-type: none;
  a {
    padding: 0 0.6rem;
    font-size: 0.75rem;
    font-weight: 600;
    line-height: 2;
    color: black;
    &:hover {
      border-bottom: 2px solid rgb(159, 250, 147);
      text-decoration: none;
    }
  }
}
.mega-menu-tab-icons {
  height: 1rem;
  padding: 0 0.5rem;
}

////////////
//popular brands
/////////////////

.popular-brands {
  font-size: 30px;
  font-size: 1.875rem;
  font-weight: 400;
  letter-spacing: normal;
  line-height: normal;
  font-weight: 500;
  color: black;
}

.popular-brands-title {
}

.brands-banner-title {
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 1.2;
  font-weight: 500;
  span {
    background: rgba(100, 100, 100, 0.541);
    color: black;
    padding: 0.4em 1.1em;
    clip-path: $brand-clipPath;
  }
}

.brands-banner-desc {
  font-size: 14px;
  font-weight: 400;
  font-weight: 500;
  position: absolute;
  left: 0;
  bottom: 0;
  opacity: 0.7;
  background: rgb(111, 180, 245);
  padding: 0.4em 1.1em;
  color: black;
  clip-path: $brand-clipPath;
}

////////////
//Best brands
/////////////////

.best-brands-banner {
}

.best-brands-banner-border-right {
  border-right: 2px solid black;
}
.best-brands-banner-title {
  font-size: 1.875rem;
  font-weight: 400;
  font-weight: 500;
  color: #000;
}

.best-brands-banner-item {
  height: 80px !important;
}

.best-brands-banner-link {
  transition: all 0.1s;
  border-radius: 3px;
  &:hover {
    filter: grayscale(100%);
    border: 2px solid black;
  }
}

////////////////
//support section
/////////////////

.support-section-h1 {
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: normal;
  line-height: 1.5;
  width: 100%;
  text-align: center;
}
.support-section-h3 {
  font-size: 2.5rem;
  font-weight: 300;
  letter-spacing: normal;
  line-height: 1.5;
  width: 100%;
  text-align: center;
}

.support-section-link {
  text-decoration: none;
  color: black;
  &:hover {
    text-decoration: none;
    color: black;
  }
}
.support-section-subheader {
  font-size: 1.875rem;
  font-weight: 700;
  letter-spacing: normal;
  line-height: normal;
  margin: 15px 0 10px;
}

.support-section-text {
  color: #666;
  font-size: 16px;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 1.5;
}

////////////
//footer
/////////////

.footer {
}
.footer-app-download {
  font: "16px";
  padding: 0.6em 1em;
  border: 1px solid black;
  color: black;
}

.footer-social-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-title {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.75;
  margin-bottom: 15px;
}

.footer-text {
  font-size: 0.875rem;
  color: rgba(0, 0, 0, 0.582);
  font-weight: 300;
  letter-spacing: normal;
  line-height: 2;
}

.footer-link {
  font-size: 0.875rem;
  color: rgba(0, 0, 0, 0.582);
  font-weight: 300;
  letter-spacing: normal;
  line-height: 2;

  &:hover {
    color: rgba(0, 0, 0, 0.863);
    text-decoration: none;
  }
}

.footer-newsletter-input {
  background-color: transparent;
  padding-right: 0;
  border: none;
  border-bottom: 1px solid #c2c2c2;
  margin-left: 10px;
  direction: ltr;
  text-align: left;

  font-size: 0.875rem;
  font-weight: 300;
  letter-spacing: normal;
  line-height: 2;

  &:focus,
  &:hover {
    outline: 0;
    border-bottom: 1px solid #c2c2c2;
  }
}
.footer-newsletter-submit {
  color: #acacac;
  font-size: 1rem;
  font-weight: 400;
  outline: 0;
  border: none;
  background: white;
  padding: 0.6em 1.1em;
  line-height: 1;

  transition: all 0.3s ease-in-out;
  &:hover,
  &:active {
    background: rgba(209, 206, 206, 0.609);
    color: black;
    border-bottom: 1px solid #c2c2c2;
  }
}

////////////
//Branding
////////////////
.branding-title {
  font-size: 16px;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: normal;
  line-height: 1.75;
  margin-bottom: 15px;
}

.branding-text {
  max-height: 8rem;
  overflow: hidden;
  font-size: 0.8rem;
  font-weight: 700;
  letter-spacing: normal;
  line-height: 1.75;
  margin-bottom: 15px;
  color: rgba(0, 0, 0, 0.657);
}

.branding-readmore {
  font-size: 0.7rem;
  font-weight: 700;
}

///////////
//Developer
/////////////

.developer {
  height: 1.4rem;
  background: rgba(0, 0, 0, 0.65);
  color: #eee;

  .developer-text {
    font-size: 0.7rem;
  }
}

/////////////////
//target-group-page
////////////////
.target-menu-img-item {
  width: 200px;
  height: 200px;
  position: relative;
  cursor: pointer;

  &:hover {
    & > span {
      background: rgba(238, 238, 238, 0.39);
      color: black;
    }
  }

  & > span {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: transparent;
    text-align: center;
    color: white;
    background: rgba(0, 0, 0, 0.363);
    padding: 0.875rem;
  }
}

.swiper-container {
  height: 100%;
}
.swiper-mens-popular {
}

.swiper-button-next-mens,
.swiper-button-prev-mens {
  border: none;
  outline: none;
  position: absolute;
  top: 0;
  z-index: 2;
  background: transparent;
  cursor: pointer;
  color: rgb(115, 152, 251);
}
.swiper-button-prev-mens {
  left: 0;
}
.swiper-button-next-mens {
  right: 0;
}

/////////////////////////
// card's item
/////////////////////////

.item-card {
  width: 200px;
  height: 250px;
  margin: 0 auto;
}

.item-card-prev-price {
  text-align: left;
  color: #a2a2a2;
  text-decoration: line-through;
  font-size: 12.5px;
  font-size: 0.781rem;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 1.92;
}
.item-card-brand {
  font-size: 0.938rem;
  font-weight: 700;
  letter-spacing: normal;
  line-height: normal;
}
.item-card-price {
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 700;
  letter-spacing: normal;
  line-height: normal;
}
.item-card-text {
  font-size: 0.75rem;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 2;
  direction: rtl;
  flex: 1 1 50%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-left: 10px;
}

///////////////
//Mens-popular
////////////////

.mens-popular-title {
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: normal;
  line-height: 35px;
  color: #000;
  margin-bottom: 30px;
  padding-bottom: 10px;
  border-bottom: 2px solid #e3e4e4;
}

////////////
//Read More button
//////////////

.read-more-btn-container {
}
.read-more-btn {
  border: 1px solid #000;
  padding: 10px 85px 12px;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 700;
  background: transparent;
}

////////////////
//brands Banner Men
/////////////

.brands-banner-grid-container {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
  max-width: 100%;
  width: 100%;
}

.brands-banner-grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  font-size: 30px;
}

.brands-banner-item1 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 4;
}

.brands-banner-item2 {
  grid-column-start: 4;
  grid-column-end: 8;
  grid-row-start: 1;
  grid-row-end: 3;
}

.brands-banner-item3 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 6;
}

.brands-banner-item4 {
  grid-column-start: 4;
  grid-column-end: 8;
  grid-row-start: 3;
  grid-row-end: 6;
}

//////////////////////
//Breadcrumbs
///////////////////////

.breadcrumbs-container {
  min-width: 1009px;
  max-width: 1600px;
  padding-right: 90px;
  padding-left: 20px;
  margin: 10px auto 20px;

  .breadcrumbs-ul {
    font-size: 0.75rem;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 2;
    max-width: 100%;
    direction: rtl;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    white-space: nowrap;
    overflow: hidden;
    color: #666;
    text-overflow: ellipsis;
    list-style: none;

    & > li {
      display: inline-flex;
      margin-left: 10px;
      align-items: center;

      & > a {
        color: #666;
      }
    }
  }
}

///////////
//product-item
////////////////

.product-page {
}
.product-info {
}

.product-info-img-grid {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  max-width: 100%;
  width: 100%;
}

.product-info-img-grid-active {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 4;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.product-info-img-grid-item {
  cursor: pointer;
  width: 100%;
  height: 100%;
  height: 100px;
  display: inline-block;
}

.product-info-share-icon {
}

.product-info-category-title {
  font-size: 1.75rem;
  font-weight: 700;
  letter-spacing: normal;
  line-height: normal;
  white-space: nowrap;
}

.product-info-name {
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: normal;
  line-height: normal;
  width: 100%;
  margin-bottom: 10px;
}

.product-info-price {
}

.product-info-prev-price {
  font-size: 0.875rem;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 1;
  text-decoration: line-through;
}

.product-info-sale {
  color: #fff;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 1;
  background: #000;
  padding: 7px 10px;
  position: relative;
  margin-right: 10px;

  &::before {
    position: absolute;
    right: 0;
    border-left: 9px solid #000;
    content: "";
    border-top: 13px solid transparent;
    border-bottom: 13px solid transparent;
    top: 0;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    height: 100%;
  }
}

.product-info-btn {
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #fff;
  width: 200px;
  font-size: 15px;
  font-size: 0.938rem;
  letter-spacing: normal;
  line-height: normal;
  transition: all 0.54ms;
  &:hover {
    text-decoration: none;
    background: rgba(0, 0, 0, 0.144);
  }
}

.product-info-buy-btn {
  background-color: #f04d7d;
  padding: 10px 35px;
  font-weight: 400;
  &:hover {
    color: white;
  }
}

.product-info-buy-later-btn {
  background-color: white;
  color: black;
  border: 1px solid black;
  padding: 10px 35px;
  font-weight: 400;
  &:hover {
    color: black;
  }
}

.product-info-support {
  position: relative;
  font-size: 12px;
  font-size: 0.75rem;
  font-weight: 700;
  letter-spacing: normal;
  line-height: 1.5;
  color: #666;
  & > img {
    width: 50px;
    height: 50px;
  }
  & > span {
    padding: 0 5px;
  }
}
.product-info-seller {
  color: rgba(0, 0, 0, 0.87);
  font-size: 0.875rem;
  font-weight: 700;
  text-align: right;
}

.product-info-seller-support {
  color: #81858b;
  font-size: 0.75rem;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 2;
}

////////////////////////////
//Product itme details
//////////////////////

.product-info-details-list {
  direction: rtl;
  border-bottom: 1px solid rgba(0, 0, 0, 0.479);

  a {
    color: #000;
    font-weight: 700;

    cursor: pointer;
    color: #747474;
    font-size: 16px;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 1.5;
    text-align: center;
  }
  .active {
    border-bottom: 3px solid rgb(104, 104, 236);
  }
}
.product-info-details-content-containre {
}
.product-info-details-content {
}

.product-info-details-content-title {
  color: #a2a2a2;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
}
.product-info-details-content-list {
  direction: rtl;
}
.product-info-details-content-list-item {
  flex: 0 0 180px;
  font-weight: 700;
  color: #000;
  outline: none;
}

//////////////////////////////
//Product item comment
/////////////////////////////

.product-info-comment {
}
.product-info-comment-title {
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: normal;
}

.product-info-comment-author {
  color: #a2a2a2;
  font-size: 0.75rem;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 2;
}
.product-info-comment-seller {
  color: #666;
  font-size: 0.875rem;
  letter-spacing: normal;
}
.product-info-comment-text {
  color: black;
  font-size: 14px;
  font-size: 0.875rem;
  letter-spacing: normal;
}
.product-info-comment-like {
  color: rgb(236, 75, 115);
  font-size: 0.7rem;
  letter-spacing: normal;
}

///////////////////////
//categories gallery
///////////////////////

.category-gallery-title {
  font-size: 1.6rem;
  font-weight: 700;
  white-space: nowrap;
}

.category-gallery-top-pagination {
  font-size: 0.8rem;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 1.5;
  color: #8c8c8c;
}

.category-gallery-item-count {
  font-size: 0.8rem;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 1.5;
  color: #563266;
}

.category-gallery-search-input {
  direction: rtl;
  font-size: 0.875rem;
  font-weight: 400;
  border: none;
  max-width: 100%;
  background: transparent;
  border-bottom: 1px solid #666;
  line-height: 1.5;
  color: #000;
  font-weight: 400;
  & ~ span {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
  }
  &:focus {
    outline: 0;
    border: none;
    border-bottom: 1px solid #666;
    color: black;
  }
}

.category-gallery-sort {
  font-weight: 700;
  font-size: 0.812rem;
  color: #8c8c8c;
  white-space: nowrap;
}

////////////////////
//Category sidebar
////////////////////////
.category-sidebar-title {
  cursor: pointer;
  font-size: 0.938rem;
  font-weight: 700;
  padding-right: 17px;
  padding-left: 8px;
  white-space: nowrap;
  position: relative;
  outline: 0;
  border: none;
  background: transparent;
  width: 100%;
  &:focus {
    outline: 0;
    border: none;
  }
  & > i {
    transition: all 325ms;
  }
}

.category-sidebar-content {
  width: 100%;
  height: 0;
  overflow: hidden;
  font-size: 0.75rem;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 2;
  color: #666;
  transition: all 325ms;

  & > h1 {
    padding-right: 7px;
    cursor: pointer;
    text-decoration: none;
    color: #41c1c6;
    cursor: pointer;
    width: 100%;
    color: #000;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.714;
  }
  & > ul {
    padding-right: 20px;
    cursor: pointer;
    text-decoration: none;
    color: #46464660;
    font-size: 0.75rem;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 2;
  }
}
.category-sidebar-content-show {
  height: 100%;
}

////////////////////////
//Login Panel
/////////////////////////

.login-panel-title {
  font-size: 1.3rem !important;
  color: #000;
  font-weight: 700;
  text-align: center;
}

.login-panel-form {
  width: 100%;
  max-width: 450px;
}
.login-panel-form-title {
  font-size: 0.75rem;
  color: #000;
  font-weight: 400;
  text-align: center;
}
.login-panel-form-input-container {
  color: #797979;
  font-size: 0.938rem;
  line-height: 1.714;

  width: 100%;
}
.login-panel-form-input {
  transition: all 0.3s ease-in-out;
  direction: ltr;
  border: none;
  border-bottom: 1px solid #ececec;
  line-height: 1.714;

  &:focus {
    outline: 0;
    border-bottom: 1px solid #ececec;
  }
}

.login-panel-form-submit {
  background-color: #f04d7d;
  border-color: #f04d7d;
  outline: none;
  cursor: pointer;
  font-size: 0.938rem;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  padding: 7px 15px;
  user-select: none;
  transition: all 0.3s ease-in-out;

  &::placeholder {
    color: white;
  }

  &:hover {
    background: transparent;
    &::placeholder {
      color: rgba(0, 0, 0, 0.698);
    }
  }
}

/////////////////////
//Dashboard panel
///////////////////

.dashboard-panel-menu {
  .list-group-item {
    cursor: pointer;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.714;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.325);
  }

  .list-group-item-active {
    background: rgba(0, 0, 0, 0.657);
    color: white;
  }
}

.dashboard-panel-user {
  color: rgb(0, 0, 0);
  font-size: 1.062rem;
  font-weight: 400;
  line-height: 1.412;
}

.dashboard-panel-user-info-change-input {
  direction: rtl;
  font-size: 0.875rem;
  font-weight: 400;
  border: none;
  max-width: 100%;
  background: transparent;
  border-bottom: 1px solid #666;
  line-height: 1.5;
  color: #000;
  &:focus {
    outline: 0;
  }
}

.dashboard-panel-user-info-change-submit {
  background-color: transparent;
  border-color: #f04d7d;
  outline: none;
  cursor: pointer;
  font-size: 0.938rem;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  padding: 7px 15px;
  user-select: none;
  transition: all 0.3s ease-in-out;

  &::placeholder {
    color: white;
  }

  &:hover {
    background: transparent;
    &::placeholder {
      color: rgba(0, 0, 0, 0.698);
    }
  }
}

////////////////////////
//best brands
////////////////////////

.brand-our-brands-title {
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
}
.brand-our-brands-gallery {
  height: 200px;
}

.brand-lists-btn {
  outline: 0;
  border: none;
  background: transparent;
  padding: 0.7rem 1.2rem;
}
